/* ------Buttons------ */
nav .btn {
    padding: 8px 18px;
}

.btn-primary {
    color: black;
    background-color: #16CF83;
    border: 1px solid #16CF83;
}

.btn-primary:hover, .btn-primary:focus {
    color: black;
    background-color: #0dac6a;
    border: 1px solid #0dac6a;
}

.btn-primary.active {
    color: black !important;
    background-color: #C3B7FF !important;
    border: 1px solid #C3B7FF !important;
}

.btn-outline-primary {
    color: black;
    border: 1px solid black;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-dark {
    border: none;
}

.btn-dark:hover {
    color: black;
    background-color: #C3B7FF;
}

.btn-smash {
    border: 1px solid black;
    border-radius: 0 30px 30px 0;
    /* padding-right: 22px; */
    /* margin-right: 4px; */
}

.btn-smash:hover {
    background-color: #C3B7FF;
    border-color: #C3B7FF;
    border-radius: 0 30px 30px 0;
    /* padding-right: 22px; */
}

.btn-smash.active{
    background-color: #C3B7FF;
    border-color: #C3B7FF;
    border-radius: 0 30px 30px 0;
}

.spacing{
    padding: 43px;
}


/* ------Links------ */
.link-primary {
    color: #7B61FF;
    font-weight: 500;
    text-decoration: none;
}

.link-primary:hover {
    color: #3a23ad;
    font-weight: 500;
}

.link-dark {
    font-weight: 500;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7B61FF;
}

.profile-btn img {
    width: 20px;
    padding: 2px 2px 3px 2px;
}

.btn-icon-search img, img.btn-icon-like {
    width: 15px;
}

.dropdown-item:active {
    background-color: #222020;
}

.dropdown-menu input {
    background: none;
    border: none;
}

/* ------PageLink------ */
.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}

.page-item.active .page-link {
    background-color: #16CF83;
    border-color: #16CF83;
}