@import url("fonts.css");
@import url("button.css");

body {
    box-sizing: border-box;
}

.display-error {
    display: none;
}

.alert-danger p {
    margin-bottom: 0;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: none;
    background-color: transparent;
}

.img-thumbnail-small {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: none;
    background-color: transparent;
}

nav .img-thumbnail {
    max-width: 60px;
   max-height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    margin: 1rem 0 2rem 0;
}

/* ------UserRegistration------ */
.register, .login, .resetPassword {
    height: 100vh;
}

.row>* {
    padding: 20px 30px;
}

.register--image .navbar-brand, .login--image .navbar-brand, .reset--image .navbar-brand {
    padding: 1.5rem;
}

.register--image, .login--image, .reset--image {
    background-color: #BFFD00;
}

.register--form, .login--form, .reset--form, .upload--form {
    display: flex;
    justify-content: center;
}

.form--register, .form--login, .form--upload, .form--reset {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

/* ------ListItems------ */

.list-group-item {
    border: 1px solid black;
}

.list-group-item.active {
    color: black;
    background-color: #FCD7F7;
    border: 1px solid black;
}

/* ------UserSettings------ */

#upload-file {
    display: none;
}

fieldset {
    margin: 0 0 20px 0;
}

.form-control, .input-group-text {
    border-color: black;
}

/* ------EmptyStates------ */
.empty-state {
    margin-top: 7%;
    margin-bottom: 5%;
}

.empty-state img {
    width: 30%;
    height: auto;
}

.profile-empty-state {
    width: auto !important;
    height: 100% !important;
    margin: 0 auto !important;
}

.status-available{
    color:green;
}

/* ------UploadProjects------ */

.upload-intro {
    justify-content: center;
}

.upload-intro p{
    text-align: center;
}
 .uploadzone input[type="text"], .uploadzone input[type="file"], .uploadzone textarea {
    border-color: #DEE2E6;
}

.upload--form {
    display: flex;
    justify-content: center;
}

.description{
    max-width: 500px;}

.form--upload {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

.img-profile-post {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.img-project-post {
    border-radius: 12px;
}

.project--item--latest img {
    height: auto;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}

img.like {
    width: 18px;
}

p.num-of-likes {
    font-size: 0.9em;
    padding-left: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

.liked {
    display: none;
}

.notLiked {
    display: block;
    cursor: pointer;
}

.notLiked:hover {
    width: 20px;
}

<<<<<<< HEAD
.emptyComment {
    display: block;
=======
.max-num-of-lines {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
>>>>>>> main
}

footer p a {
    border-bottom: 1px dotted black;
}

/* ------MediaQueries------ */

@media (max-width: 992px) {
    .register--image, .login--image, .reset--image {
        display: none;
    }
}

@media (max-width: 767px) {
    .filter-btn {
        display: none;
    }

    .col-sm-12.project--item--latest {
        display: none;
    }

    .filter-tags {
        padding-top: 15px;
    }

    .header-search {
        width: 100%;
    }
}
