@font-face {
    font-family: Spectral;
    src: url('/assets/fonts/Spectral/Spectral-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Pacifico;
    src: url('/assets/fonts/Pacifico/Pacifico-Regular.ttf');
}

a.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: black;
}

h1, h2, h3, h4, p.username, p.biography {
    font-family: 'Spectral', serif;
    font-weight: 900;
}

h1.settings {
    font-size: 1.5em;
}

p.username {
    font-size: 1.3rem;
}

p.biography {
    font-size: 2.7rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.1em;
}

h4.header {
    font-size: 1.8em;
}